/*    -----    Colors    -----    */
/*    -----   Color Use  -----    */
/*    -----    Fonts     -----    */
/*    -----    Other     -----    */
html {
  box-sizing: border-box; }

*, *::before, *::after {
  box-sizing: inherit;
  position: relative; }

body {
  margin: 0;
  font-family: "Muli", sans-serif, sans-serif;
  color: #525252; }
  body a {
    text-decoration: none;
    color: #26c4a5; }
    body a:hover {
      color: rgba(38, 196, 165, 0.64); }

.list-reset {
  list-style: none;
  padding-left: 0; }

.center-text {
  text-align: center; }

.btn {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0; }

.site-container {
  background-color: #f4f7f9; }
  @media screen and (max-width: 40em) {
    .site-container {
      transition: all 195ms cubic-bezier(0.4, 0, 1, 1); } }

@media screen and (max-width: 40em) {
  .navbar-open {
    padding-top: 8rem;
    transition: all 225ms cubic-bezier(0, 0, 0.2, 1); } }

.section-title {
  text-align: center;
  font-size: 2.6em;
  margin-top: 0; }

.section-subtitle {
  font-size: 1.6em; }

.white {
  color: #ffffff; }

.blue {
  color: #46a5d4; }

.green {
  color: #26c4a5; }

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  height: 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #ffffff;
  z-index: 1000; }
  .navbar a {
    color: #46a5d4;
    text-decoration: none; }
    .navbar a:hover {
      color: #7ec6eb; }

.navbar-container {
  width: 85vw;
  max-width: 54rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.navbar-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .navbar-menu ul {
    margin: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row; }
  .navbar-menu li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: 1.3em; }

.navbar-brand {
  font-size: 1.2em; }

.nav-toggle {
  display: none; }

.toggle-nav-btn {
  font-size: 1.2em;
  color: #46a5d4;
  padding: 0; }

@media screen and (max-width: 40em) {
  .navbar-menu {
    position: fixed;
    display: inline-block;
    font-size: 1.3em;
    top: 4rem;
    left: 0;
    width: 100%; }
  .navbar-menu-container {
    left: 0;
    height: 8rem;
    width: 100%;
    background-color: #ffffff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    border-top: 0.1em solid #46a5d4;
    transition: all 225ms cubic-bezier(0, 0, 0.2, 1);
    overflow: hidden; }
    .navbar-menu-container ul {
      width: 85vw;
      display: block;
      padding: 0.3em 0; }
    .navbar-menu-container li {
      margin: 0.3em 0;
      float: none;
      display: block; }
    .navbar-menu-container i {
      display: block; }
  .hide-menu {
    position: absolute;
    height: 0px;
    padding: 0;
    z-index: -100;
    transition: all 195ms cubic-bezier(0.4, 0, 1, 1);
    border-top: 0.1em solid #ffffff; }
  .nav-toggle {
    display: block; } }

.section-container {
  margin: 0 auto;
  width: 85vw;
  max-width: 54rem;
  padding-bottom: 3em; }

.section-one {
  background-color: #46a5d4;
  color: #ffffff; }

.section-two {
  padding-top: 3em; }

.section-three {
  background-color: rgba(42, 49, 71, 0.8);
  padding-top: 3em; }

.section-four {
  padding-top: 3em;
  background-color: #46a5d4; }

.anchor {
  height: 4rem;
  position: absolute;
  bottom: 100%; }

#intro {
  padding-top: 4rem; }

@media screen and (max-width: 40em) {
  .anchor {
    height: 12rem; } }

.intro-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 4em; }

.headshot {
  max-width: 18em;
  border-radius: 100%;
  overflow: hidden;
  width: 100%;
  margin-bottom: 2em; }
  .headshot .aspect-ratio {
    width: 100%;
    padding-top: 100%; }
  .headshot img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%; }

.about-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

.about-text p {
  font-size: 1.1em; }

.projects-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.project-card-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 45em; }

.project-card-wrapper {
  padding: 1em;
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  @media screen and (max-width: 52em) {
    .project-card-wrapper {
      padding: 0.7em; } }
  @media screen and (max-width: 40em) {
    .project-card-wrapper {
      padding: 1em 0;
      width: 100%; } }

.project-card {
  background-color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%; }

.project-card-image {
  position: relative;
  overflow: hidden;
  cursor: pointer;
  background: none;
  border: none;
  padding: 0;
  margin: 0; }
  .project-card-image img {
    border-bottom: 1px solid #dfdfdf;
    display: block;
    -o-object-fit: contain;
       object-fit: contain;
    top: 0;
    width: 100%;
    height: auto;
    -webkit-transform: none;
            transform: none; }
    .project-card-image img:hover {
      -webkit-filter: opacity(85%) brightness(97%);
              filter: opacity(85%) brightness(97%); }

.project-card-text {
  padding: 1.4em;
  color: #525252; }
  .project-card-text h4 {
    margin: 0;
    color: black;
    font-size: 1.5em;
    font-weight: 700; }

.project-modal-container {
  padding: 0.5em 1em 0.8em 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto; }

.project-modal-content {
  padding: 0.5em 0 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }
  .project-modal-content h3 {
    margin: 0 0 0.6em 0; }
  .project-modal-content .video {
    padding-bottom: 56.25%;
    /* 16:9 */
    padding-top: 25px;
    height: 0; }
    .project-modal-content .video iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%; }

.project-modal-image {
  overflow: hidden;
  padding: 0;
  width: 100%;
  border: 1px solid #dfdfdf;
  -webkit-box-flex: 2;
      -ms-flex-positive: 2;
          flex-grow: 2;
  max-height: -webkit-max-content;
  max-height: -moz-max-content;
  max-height: max-content; }
  .project-modal-image img {
    width: 100%;
    height: auto; }

.project-modal-description {
  -ms-flex-negative: 1;
      flex-shrink: 1;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-item-align: stretch;
      align-self: stretch;
  font-size: 0.9em;
  padding: 1em 0; }

.modal-header-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 0.6em; }

.invisible-div {
  width: 1.2em;
  height: 1.2em; }

.modal-title {
  font-size: 1.5em;
  margin: 0 !important; }

.btn-modal-close {
  color: gray;
  font-weight: 100;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 1.6em;
  z-index: 100; }

.project-modal-footer {
  background-color: #ffffff;
  color: #26c4a5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 2em;
  padding: 0.2em 0; }

.contact-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 1em 0;
  color: #ffffff;
  font-size: 1.5em;
  text-align: center; }
  .contact-content i {
    font-size: 2em; }
  .contact-content a {
    color: #353a4a; }
    .contact-content a:hover {
      color: rgba(42, 49, 71, 0.8); }

.social-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  max-width: 14em; }
  .social-links ul {
    list-style: none;
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    width: 100%; }

.footer {
  width: 100%;
  height: 3.2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #ffffff; }

.footer-container {
  width: 85vw;
  max-width: 54rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }
