#about {
  height: $navbar-height;
  position: absolute;
  bottom: 100%;
}

.about-content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.about-text {
  p {
    font-size: 1.1em;
  }
}
