* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: $primaryFont, sans-serif;
}

.site-container {
  background-color: $off-white;
}

.section-container {
  margin: 0 auto;
  width: $page-width;
  max-width: $max-page-width;
}

.first-section {
  padding-top: $navbar-height;
}

.section-title {
  // text-transform: uppercase;
  text-align: center;
}

.white {
  color: $white;
}

.blue {
  color: $dark-blue;
}
