html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
  position: relative;
}

body {
  margin: 0;
  font-family: $primaryFont, sans-serif;
  color: $charcoal;

  a {
    text-decoration: none;
    color: $green;

    &:hover {
      color: $light-green;
    }
  }
}

.site-container {
  background-color: $off-white;
}

.section-title {
  text-align: center;
  font-size: 2.6em;
  margin-top: 0;
}

.section-subtitle {
  font-size: 1.6em;
}

.white {
  color: $white;
}

.blue {
  color: $blue;
}

.green {
  color: $green;
}
