.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  height: $navbar-height;
  display: flex;
  justify-content: center;
  background-color: $white;
  z-index: 1000;

  a {
    color: $navbar-links;
    text-decoration: none;

    &:hover {
      color: $light-blue;
    }
  }
}

.navbar-container {
  width: $page-width;
  max-width: $max-page-width;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.navbar-menu {
  display: flex;

  ul {
    margin: 0;
    display: flex;
    flex-direction: row;
  }

  li {
    display: flex;
    margin-left: 1.3em;

  }
}

.navbar-brand {
  font-size: 1.2em;
}

.nav-toggle {
  display: none;
}

.toggle-nav-btn {
  font-size: 1.2em;
  color: $blue;
  padding: 0;
}

@media screen and (max-width : $breakpoint-small) {
  .navbar-menu {
    position: fixed;
    display: inline-block;
    font-size: 1.3em;
    top: $navbar-height;
    left: 0;
    width: 100%;
  }

  .navbar-menu-container {
    left: 0;
    height: $mobile-nav-menu-height;
    width: 100%;
    background-color: $white;
    display: flex;
    justify-content: center;
    border-top: 0.1em solid $blue;
    transition: all 225ms cubic-bezier(0.0, 0.0, 0.2, 1);
    overflow: hidden;

    ul {
      width: $page-width;
      display: block;
      padding: 0.3em 0;
    }

    li {
      margin: 0.3em 0;
      float: none;
      display: block;
    }

    i {
      display: block;
    }
  }

  .hide-menu {
    position: absolute;
    height: 0px;
    padding: 0;
    z-index: -100;
    transition: all 195ms cubic-bezier(0.4, 0.0, 1, 1);
    border-top: 0.1em solid $white;
  }

  .nav-toggle {
    display: block;
  }
}
