.project-modal-container {
  padding: 0.5em 1em 0.8em 1em;
  display: flex;
  flex: 1 1 auto;
}

.project-modal-content {
  padding: 0.5em 0 0 0;
  display: flex;
  flex-direction: column;

  h3 {
    margin: 0 0 0.6em 0;
  }

  .video {
    padding-bottom: 56.25%; /* 16:9 */
    padding-top: 25px;
    height: 0;

    iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }
}

.project-modal-image {
  overflow: hidden;
  padding: 0;
  width: 100%;
  border: 1px solid $lightest-gray;
  flex-grow: 2;
  max-height: max-content;

  img {
    width: 100%;
    height: auto;
  }
}

.project-modal-description {
  flex-shrink: 1;
  flex-grow: 1;
  display: flex;
  align-items: center;
  align-self: stretch;
  font-size: 0.9em;
  padding: 1em 0;
}

.modal-header-row {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 0.6em;
}

.invisible-div {
  width: 1.2em;
  height: 1.2em;
}

.modal-title {
  font-size: 1.5em;
  margin: 0 !important;
}

.btn-modal-close {
  color: gray;
  font-weight: 100;
  justify-content: center;
  display: flex;
  font-size: 1.6em;
  z-index: 100;
}

.project-modal-footer {
  // background-color: $green;
  background-color: $white;
  // color: $white;
  color: $green;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
  padding: 0.2em 0;
}
