.project-card {
  background-color: $white;
  display: block;
  // flex: auto;
  margin-bottom: 1em;
}

.project-card-image {
  position: relative;
  overflow: hidden;
  img {
    border-bottom: 1px solid $lightest-gray;
    display: block;
    object-fit: contain;
    top: 0;
    width: 100%;
    height: auto;
    transform: none;
  }
  // @media screen and (max-width : $breakpoint-medium) {
  //   // height: 30vh;
  // }
}

.project-card-text {
  padding: 1.4em;
  color: $gray;

  h4 {
    margin: 0;
    color: black;
  }
}
