#projects {
  height: $navbar-height;
  position: absolute;
  bottom: 100%;
}

.projects-section {
  background-color: $blue;
  padding-top: 3em;
}

.projects-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.project-card-container {
  display: flex;
  flex-wrap: wrap;
  max-width: 50em;
  // background-color: $light-gray;
  // justify-content: space-around;
}
