/*    -----    Colors    -----    */
$off-white: #f1fcff;
$white: #ffffff;

$blue-gray: #2a3d91;
$light-gray: #808080;
$lightest-gray: #dfdfdf;
$gray: #23272f;

$green: #00FF7F;
$red: #FF4057;
$pink: #CC1286;
$light-blue: #3BC4CC;
$dark-blue: #3D9499;

/*    -----   Color Use  -----    */

$navbar-links: $light-blue;

/*    -----    Fonts     -----    */

$primaryFont: 'Muli', sans-serif;


/*    -----    Other     -----    */

$page-width: 75vw;
$max-page-width: 65rem;
$navbar-height: 80px;
