/*    -----    Colors    -----    */
$off-white: #f1fcff;
$white: #ffffff;
$charcoal: #525252;

$blue-gray: #2a3d91;
$light-gray: #808080;
$lightest-gray: #dfdfdf;
$gray: #23272f;

$green: #26c4a5;
$light-green: rgba(38, 196, 165, 0.64);
$red: #FF4057;
$pink: #CC1286;
$blue: #46a5d4;
$light-blue: #7ec6eb;

/*    -----   Color Use  -----    */

$navbar-links: $blue;

/*    -----    Fonts     -----    */

$primaryFont: 'Muli', sans-serif;


/*    -----    Other     -----    */

$page-width: 75vw;
$max-page-width: 65rem;
$navbar-height: 80px;
